* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #162B6F;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #162B6F;
}
.header {
    max-width: 1170px;
    width: 100%;
    height: 69px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 24px;
}
.b {
    display: block;
    position: relative;
}
.f {
    display: flex;
    position: relative;
}
.header__logo {
    width: 44px;
    height: 19px;
    background: url(./images/Gertc.png);
    background-size: cover;
}
.header__menu {
    width: 604px;
    height: fit-content;
    justify-content: space-between;
}
.main {
    width: 100%;
    height: 760px;
    background: url(./images/main1.png);
    
}
.main__background {
    width: 100%;
    height: 100%;
    background: rgba(44, 56, 166, 0.3);
}
.blockmain {
    width: 152px;
    height: 670px;
    margin: 0 auto;
    align-items: center;
}
.block0 {
    width: 152px;
    height: 215px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.block1 {
    width: 100%;
    height: 113px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 76px;
}
.block2 {
    width: 100%;
    height: 45px;
    color: white;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.rows {
    flex-direction: column;
    width: fit-content;
    height: 238px;
    margin: 0 auto;
    justify-content: center;
}   
.row1 {
    width: 199px;
    height: 89px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #5A74B7;
    margin: 0 auto;
}
.row2 {
    font-size: 15px;
    flex-direction: row;
}
.goods {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.good1 {
    width: 370px;
    height: 100%;
    flex-direction: column;
}
.good2 {
    width: 370px;
    height: 100%;
    flex-direction: column;
}
.good3 {
    width: 370px;
    height: 100%;
    flex-direction: column;
}
.wh {
    width: 100%;
    height: 300px;
}
.wh2 {
    width: 100%;
    height: 200px;
}
.gd1 {
    background: url(./images/goods1.png);
}
.gd2 {
    background: #5A74B7;
    flex-direction: column;
    justify-content: space-between;
}
.gl1 {
    width: fit-content;
    height: 91px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    margin: 0 auto;
}
.gl2 {
    width: fit-content;
    height: 94px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.one {
    align-items: flex-end;
}
.two {
    margin: 0 auto;
}
.gd3 {
    background: url(./images/goods2.png);
}
.gd4 {
    background: #5A74B7;
    flex-direction: column;
    justify-content: space-between;
}
.three {
    align-items: flex-end;
}
.four {
    margin: 0 auto;
    width: 204px;
    height: 94px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}
.gd5 {
    background: url(./images/goods3.png);
}
.gd6 {
    background: #5A74B7;
    flex-direction: column;
    justify-content: space-between;
}
.five {
    align-items: flex-end;
}
.six {
    margin: 0 auto;
}