* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #162B6F;
}
.container {
    display: block;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #162B6F;
}
.header {
    display: flex;
    position: relative;
    max-width: 1170px;
    width: 100%;
    height: 69px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 24px;
}
.header__logo {
    display: block;
    position: relative;
    width: 44px;
    height: 19px;
    background: url(./images/Gertc.png);
    background-size: cover;
}
.header__menu {
    display: flex;
    position: relative;
    width: 604px;
    height: fit-content;
    justify-content: space-between;
}
.main {
    display: block;
    position: relative;
    width: 100%;
    height: 760px;
    background: url(./images/main1.png);
    
}
.main__background {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(44, 56, 166, 0.3);
}
.blockmain {
    display: flex;
    position: relative;
    width: 152px;
    height: 670px;
    margin: 0 auto;
    align-items: center;
}
.block {
    display: flex;
    position: relative;
    width: 152px;
    height: 215px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.block1 {
    display: block;
    position: relative;
    width: 100%;
    height: 113px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 76px;
}
.block2 {
    display: flex;
    position: relative;
    width: 100%;
    height: 45px;
    color: white;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.rows {
    display: flex;
    position: relative;
    flex-direction: column;
    width: fit-content;
    height: 238px;
    border: 2px solid black;
    margin: 0 auto;
    justify-content: center;
}   
.row1 {
    display: block;
    position: relative;
    width: 199px;
    height: 89px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #5A74B7;
    margin: 0 auto;
}
.row2 {
    display: block;
    position: relative;
    font-size: 15px;
    flex-direction: row;
}